<p style="color: green"><%= notice %></p>

<h1>List trains</h1>

<div id="trains">
  <% @trains.each do |train| %>

    <p>
      <%= render train %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_train_path %>
