<!--<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center">Tickets:</h1>
    <div class="row">
      <%# @tickets.each do |ticket| %>
        <div class="col-2 p-1">
          <%#= link_to "##{ticket.id}", train_ticket_path(ticket.train, ticket) %>
        </div>
        <div class="col-4 p-1">
          train - <%#= ticket.train.number %>
        </div>
        <div class="col-6 p-1">
          passenger  - <%#= "#{ticket.first_name} #{ticket.last_name}" %>
        </div>
        <p>
      <%# end %>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="text-center">Tickets:</h1>
    <div class="row">
      <% @tickets.each do |ticket| %>
        <div class="col-2 p-1">
          <%= link_to "##{ticket.id}", train_ticket_path(ticket.train, ticket) %>
        </div>
        <div class="col-4 p-1">
          <p>train - <%= ticket.train.number %></p>
        </div>
        <div class="col-6 p-1">
          passenger  - <%= "#{ticket.first_name} #{ticket.last_name}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>