<p>Dear, <%= @user.first_name %>, you've successfully bought a ticket</p>
<p>You can see it <%= link_to 'here', train_ticket_url(@ticket.train, @ticket) %></p>
<p>Also, you can see all your tickets <%= link_to 'here', tickets_url %></p>